.title{
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    font-size: 100px;
    font-family:Qore;
    text-align: center;
    color: #22b;
    font-weight: 600;
    animation: 0.75s ease-out 0s 1 slideInFromTop;

}
.num2{
    color: #ddd;
    animation: 0.75s ease-out 0s 1 num2Color;
}
sup{
    color: skyblue;
    animation: 0.75s ease-out 0s 1 num8Color;
}
.subtitle{
    color: #ddd;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    font-size: 50px;
    text-align: center;
    animation: 0.75s ease-out 0.75s 1 slideInFromTop2 forwards;
    color: #ddd0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: translateY(-200%);

}
body{
    background-color: #181818;
    color: #ddd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}   
@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
      color: #22b0;
    }
    100% {
      transform: translateY(0);
      color: #22b;
    }
}
@keyframes num2Color {
    0% {

      color: #ddd0;
    }
    100% {
      color: #ddd;
    }
}
@keyframes num8Color {
    0% {

      color: #80BDE300;
    }
    100% {
      color: skyblue;
    }
}
@keyframes slideInFromTop2 {
    0% {
      transform: translateY(-200%);
      color: #ddd0;
    }
    100% {
      transform: translateY(0);
      color: #ddd;
    }
}
@keyframes slideInFromTop3 {
  0% {
    transform: translateY(-100px);
    color: #ddd0;
  }
  100% {
    transform: translateY(0);
    color: #ddd;
  }
}
.else{
  transform: translateY(-100px);
  margin: auto 5%;
  margin-top: 36px;
  font-size: 24px;
  color:#ddd0 ;
  animation: 0.75s ease-out 1.5s 1 slideInFromTop3 forwards;
}
a{
  color: unset;
  text-decoration: unset;
}

html{scroll-behavior:smooth}
.ssubtitle{
  font-size:36px;
  text-align: center;
}
.spans{
  color: #22b0;
  font-weight: 600;
  animation: 0.75s ease-out 1.5s 1 color1 forwards;
}
@keyframes color1 {
  0% {
    color: #22b0;
  }
  100% {
    color: #33c;
  }
}
.li1 { margin: -10px; }
.li2{ margin: 2px;

}
.ul1{
  margin: auto 15%;
}
.sssubtitle{
  font-size:24px;
  text-align: center;
  border-radius: 20px;
  margin: 0px;
  width: 300px;
  height: 200px;
  margin: 25px;
  background-color: #282828;
  color: #ddd0;
  background-color: #28282800;
  animation: 0.75s ease-out 1.5s 1 DP3 forwards;
  display: table-column;
  justify-content:space-evenly;
  padding: 15px;

}
.subcat{
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-evenly;
}

@keyframes DP3 {
  0% {
    color: #ddd0;
    background-color: #28282800;
  }
  100% {
    color: #ddd;
    background-color: #282828;
  }
}

img{
  margin-top: 15px;
  height:75%;
  border-radius: 15px;
  opacity: 0;
  animation: 0.75s ease-out 1.5s 1 img forwards;
}
@keyframes img{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
@font-face { font-family: Qore; src: url('assets/font.otf'); }